*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sans-serif;
}

.ideal-margin{
    margin-left: 125px;
    margin-right: 125px;
    text-align:center;
}

.logo h2{
    color: rgb(238, 10, 124);
    margin-right: 125px;
}
.navbar ul li{
    font-size: 1.2rem;
}

.navbar ul li a:hover{
    color: rgb(238, 10, 124);
}

.navbar-body{
    background: url("./images/nav-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    
}

.navbar-text{
    position: absolute;
    left: 70%;
    top: 20%;
    text-align: end;
}

.navbar-text h1{
    color: rgb(238, 10, 124);
    font-size: 2.9rem;
    font-weight: bold;
}

.navbar-text h6{
  
    font-weight: bold;

}


.navbar-text button{
    border: none;
    height: 34px;
    width: 132px;
    background-color: rgba(47, 33, 124, 0.795);
    color:white;
    transition: 1s;
    font-size: 0.9rem;

}

.navbar-text button:hover{
    background-color: rgba(53, 29, 192, 0.795);
  

}
.about-heading{
    position: relative;
}

.about-heading h1{
    color: rgb(238, 10, 124);
}

.dotted{
    position: absolute;
    color: rgb(238, 10, 124);
    font-size: 2rem;
    bottom: 46%;
    right: 47%;
}

.about-para,.about-icon{
    text-align: start;
    margin-left: 20px;
}

.about-para h6{
    font-weight: 700;
}

.about-para .italic{
    font-size: 1.1rem;
    font-weight: 100;
}

.about-icon i{
    color: rgb(241, 217, 221);
}

.card-body i{
    color:red;
    font-size: 2rem;
   

}

.client-img img{
    margin:0px 40px;
    height: 50px;
    width: 80px;
}

.testimonials-para{
    background-color: rgb(236, 231, 231);
    border-radius: 15px;
    padding: 25px 25px;
    padding-bottom:5px;
    margin: 25px;
    text-align: justify;


}

.testimonial-heading{
    margin-top: -16px;
}

.testimonial-para{
    margin-top: -10px;
    font-weight:200;
}

