* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif;

}

.main-container{
    margin-left: 0px;
    margin-right: 0px;
}

section{
    margin-left: 0px;
    margin-right: 0px;
}

.ideal-margin {
    margin-left: 125px;
    margin-right: 125px;
    text-align: center;
}

.mini-navbar{
    height: 45px;
    width: 100%;
    background:linear-gradient(to right,rgb(193, 136, 219),rgba(47, 33, 124, 0.795));

}

.my-email{
    margin-left: 165px;
}

/* .my-email:hover{
    color: rgb(238, 10, 124); 
} */



.para1 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    
    
}

.para1:hover{
    color: rgb(238, 10, 124); 
    cursor: pointer;
}

.mini-icon{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content:flex-end;
    margin-top: -35px;
    margin-right: -320px;

    
}

.mini-icon i{
    color: rgb(238, 10, 124);
    margin-inline: 10px;
    
}

.mini-icon i:hover{
    cursor: pointer;
  
}




.right-border{
    border-right: 1px solid rgb(204, 186, 186);
    height: 20px;
    width: 10px;
    margin-top: -37px;
    margin-left: 198px;
}

.border-right2{
    border-right: 1px solid rgb(204, 186, 186);
    height: 20px;
    width: 10px;
    margin-top: -21px;
    margin-left: 30px;
}

.border-right3{
    border-right: 1px solid rgb(204, 186, 186);
    height: 20px;
    width: 10px;
    margin-top: -21px;
    margin-left:27px;
}

.border-right4{
    border-right: 1px solid rgb(204, 186, 186);
    height: 20px;
    width: 10px;
    margin-top: -21px;
    margin-left:27px;
}

.border-right5{
    border-right: 1px solid rgb(204, 186, 186);
    height: 20px;
    width: 10px;
    margin-top: -21px;
    margin-left:27px;
}

.logo h2 {
    color: rgb(238, 10, 124);
    margin-right: 125px;
}

.navbar ul li {
    font-size: 1.2rem;
}

.navbar ul li a:hover {
    color: rgb(238, 10, 124);
}

.navbar-body {
    background: url("./images/nav-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;

}

.navbar-text {
    position: absolute;
    left: 70%;
    top: 20%;
    text-align: end;
}

.navbar-text h1 {
    color: rgb(238, 10, 124);
    font-size: 2.9rem;
    font-weight: bold;
}

.navbar-text h6 {

    font-weight: bold;

}


.navbar-text button {
    border: none;
    height: 34px;
    width: 132px;
    background-color: rgba(47, 33, 124, 0.795);
    color: white;
    transition: 1s;
    font-size: 0.9rem;

}

.navbar-text button:hover {
    background-color: rgba(53, 29, 192, 0.795);


}

.about-heading {
    position: relative;
}

.about-heading h1 {
    color: rgb(238, 10, 124);
}

.dotted {
    position: absolute;
    color: rgb(238, 10, 124);
    font-size: 2rem;
    bottom: 46%;
    right: 47%;
}

.about-para,
.about-icon {
    text-align: start;
    margin-left: 20px;
}

.about-para h6 {
    font-weight: 700;
}

.about-para .italic {
    font-size: 1.1rem;
    font-weight: 100;
}

.about-icon i {
    color: rgb(241, 217, 221);
}

.card-body i{
    color:purple;
    font-size: 2rem;
   

}







.client-img img {
    margin: 0px 40px;
    height: 50px;
    width: 80px;
}

.our-portfolio{
    height: 700px;
    width: 100%;
    /* background-color: blueviolet; */
    /* background:linear-gradient(to right,rgba(148, 85, 137, 0.815),blueviolet,blue); */
    background:linear-gradient(to right,rgb(193, 136, 219),rgba(47, 33, 124, 0.795));
    position: relative;
}

 .portfolio1{
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    position: absolute;

  
} 

.portfolio2{
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    position: absolute;
    bottom: 1%;

  
}

.portfolio1 img,.portfolio2 img{
 height: 200px;
 width: 100%;

  
} 


.name5{
    position:absolute;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 6%;
    background-color: rgba(138, 135, 135, 0.74);
}


.name6{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}

.name7{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}


.name8{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}

.name1{
    position:relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}

.name2{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}

.name3{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}

.name4{
    position: relative;
    height: 70px;
    width: 158px;
    border: 1px solid rgba(255, 255, 255, 0.726);
    bottom: 50%;
    left: 26%;
    background-color: rgba(138, 135, 135, 0.74);
}


.name5 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name6 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name7 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name8 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name1 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name2 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name3 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}

.name4 p{
    margin-top: 13px;
    color:white;
    line-height: 18px;
    margin-left: 47px;
}





.testimonials-para {
    background-color: rgb(236, 231, 231);
    border-radius: 15px;
    padding: 25px 25px;
    padding-bottom: 5px;
    margin: 25px;
    text-align: justify;


}

.testimonial-heading {
    margin-top: -16px;
}

.testimonial-para {
    margin-top: -10px;
    font-weight: 200;
}

.gray-circle {
    height: 10px;
    width: 10px;
    background-color: rgb(236, 231, 231);
    border-radius: 50%;
}


.pink-circle {
    height: 10px;
    width: 10px;
    background-color: rgb(238, 10, 124);
    border-radius: 50%;
    margin-left: 10px;
}

.circle-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.get-service {
    height: 200px;
    width: 100%;
    background-color: rgba(47, 33, 124, 0.795);
}

.get-info {
    color: white;
    text-align: start;

}


.contact-button button {
    border: none;
    border: 1px solid white;
    height: 34px;
    width: 132px;
    background-color: rgba(47, 33, 124, 0.795);
    color: white;
    transition: 1s;
    font-size: 0.9rem;
    margin-top: 80px;
    margin-left: 35px;
    transition: 1s;
}

.contact-button button:hover {

    background-color: rgba(42, 15, 194, 0.795);

}

.dotted2 {
    position: absolute;
    color: rgb(238, 10, 124);
    font-size: 2rem;
    bottom: 46%;
    right: 47%;
    top: 65%;
}

.bottom-border {
    border-bottom: 5px solid rgb(238, 10, 124);
}

.team-img img {
    height: 200px;
    width: 200px;
}

.social-icon i {
    border: 1px solid rgb(192, 190, 190);
    padding: 5px;
    margin: 5px;
    height: 26px;
    width: 41px;
    color: rgb(192, 190, 190);


}

.team-heading,
.team-para {
    margin-bottom: 1px;
    color: rgb(238, 10, 124);
}

.contact-info {
    text-align: start;
    margin-left: 10px;
}

.contact-info1 {
    margin-top: 10px;
}




.contact-icon2 {
    margin-top: 27px;
}

.contact-icon3 {
    margin-top: 23px;
}

.contact-icon i {
    margin: 10px;
    font-size: 1.4rem;
    color: rgb(238, 10, 124);
}

.contact-form input {
    height: 50px;
    width: 70%;
    padding: 10px;
    border: none;
    border: 1px solid rgb(192, 190, 190);
    margin: 10px;
}

.contact-form textarea {
    height: 200px;
    width: 70%;
    padding: 10px;
    border: none;
    border: 1px solid rgb(192, 190, 190);
    margin-top: 10px;
    resize: none;
}

.submit-button {
    border: none;
    border: 1px solid white;
    height: 37px;
    width: 87px;
    background-color: rgb(238, 10, 124);
    color: white;
    transition: 1s;
    font-size: 0.9rem;
    margin-top: 6px;
    margin-left: 360px;
    transition: 1s;
}

.submit-button:hover {
    background-color: rgb(187, 54, 121);

}

.footer {
    height: 100px;
    width: 100%;
    background-color: rgba(47, 33, 124, 0.795);
    text-align: center;
    color: white;
    position: relative;
}

.footer-para {
    position: absolute;
    top: 20px;
    left: 40%;


}

.footer-para2 {
    position: absolute;
    top: 48px;
    left: 46%;


}

.owner {
    color: rgb(238, 10, 124);
}