*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: 'Poppins', sans-serif;
}

.ideal-margin{
    margin-left: 125px;
    margin-right: 125px;
    text-align:center;
}

.logo h2{
    color: rgb(238, 10, 124);
    margin-right: 125px;
}
.navbar ul li{
    font-size: 1.2rem;
}

.navbar ul li a:hover{
    color: rgb(238, 10, 124);
}

.navbar-body{
    background: url("./images/nav-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: relative;
    
}

.navbar-text{
    position: absolute;
    left: 70%;
    top: 20%;
    text-align: end;
}

.navbar-text h1{
    color: rgb(238, 10, 124);
    font-size: 2.9rem;
    font-weight: bold;
}

.navbar-text h6{
  
    font-weight: bold;

}


.navbar-text button{
    border: none;
    height: 34px;
    width: 132px;
    background-color: rgba(47, 33, 124, 0.795);
    color:white;
    transition: 1s;
    font-size: 0.9rem;

}

.navbar-text button:hover{
    background-color: rgba(53, 29, 192, 0.795);
  

}
.about-heading{
    position: relative;
}

.about-heading h1{
    color: rgb(238, 10, 124);
}

.dotted{
    position: absolute;
    color: rgb(238, 10, 124);
    font-size: 2rem;
    bottom: 46%;
    right: 47%;
}

.about-para,.about-icon{
    text-align: start;
    margin-left: 20px;
}

.about-para h6{
    font-weight: 700;
}

.about-para .italic{
    font-size: 1.1rem;
    font-weight: 100;
}

.about-icon i{
    color: rgb(241, 217, 221);
}

.card-body i{
    color:red;
    font-size: 2rem;
   

}

.client-img img{
    margin:0px 40px;
    height: 50px;
    width: 80px;
}

.testimonials-para{
    background-color: rgb(236, 231, 231);
    border-radius: 15px;
    padding: 25px 25px;
    padding-bottom:5px;
    margin: 25px;
    text-align: justify;


}

.testimonial-heading{
    margin-top: -16px;
}

.testimonial-para{
    margin-top: -10px;
    font-weight:200;
}

.gray-circle{
    height: 10px;
    width: 10px;
    background-color: rgb(236, 231, 231);
    border-radius: 50%;
}


.pink-circle{
    height: 10px;
    width: 10px;
    background-color: rgb(238, 10, 124);
    border-radius: 50%;
    margin-left: 10px;
}

.circle-ball{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

.get-service{
    height: 200px;
    width: 100%;
    background-color: rgba(47, 33, 124, 0.795);
}

.get-info{
   color: white;
   text-align: start;
   
}

.contact-button button{
    border: none;
    border: 1px solid white;
    height: 34px;
    width: 132px;
    background-color: rgba(47, 33, 124, 0.795);
    color:white;
    transition: 1s;
    font-size: 0.9rem;
    margin-top: 80px;
    margin-left: 35px;
    transition: 1s;
}

.contact-button button:hover{
 
    background-color: rgba(42, 15, 194, 0.795);
    
}

.dotted2{
    position: absolute;
    color: rgb(238, 10, 124);
    font-size: 2rem;
    bottom: 46%;
    right: 47%;
    top: 65%;
}

.bottom-border{
    border-bottom: 5px solid rgb(238, 10, 124);
}

.team-img img{
    height: 200px;
    width: 200px;
}

.social-icon i{
    border: 1px solid rgb(192, 190, 190);
    padding: 5px;
    margin: 5px;
    height: 26px;
    width: 41px;
    color:  rgb(192, 190, 190);
    
  
}

.team-heading,.team-para{
    margin-bottom: 1px;
    color: rgb(238, 10, 124);
}
.contact-icon i{
    margin: 20px;
    font-size: 1.2rem;
    color: rgb(238, 10, 124);
}

.contact-info{
    margin-top: -173px;
    text-align: start;
    margin-left: 54px;
}

.contact-info1{
    margin-top: 12px;
    margin-bottom: -10px;
}

.contact-info1 p{
    margin-top: -7px;
}
.contact-info2{
    margin-top: 22px;
}

.contact-info2 p{
    margin-top: -7px;
}

.contact-info3{
    margin-top: -9px;
}

.contact-info3 p{
    margin-top: -9px;
}

.mail-icon i{
    margin-top: 10px;
}